@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  padding: 3rem;
  background-color: #eeeeef;
}

.header {
  height: 75vh;
  background-image: url(./img/bcc.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.primary-heading {
  font-family: "Permanent Marker", cursive;
  text-transform: uppercase;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #eeeeef;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.primary-heading--main {
  display: block;
  font-size: 4vw;
  letter-spacing: 0.25vw;
}

.primary-heading--sub {
  display: block;
  font-size: 2vw;
  letter-spacing: 0.5vw;
}

.main-page-nav {
  text-align: center;
  background-color: #8a794c;
  height: 4rem;
  border-radius: 8px;
}

.main-nav-item {
  font-family: "East Sea Dokdo", cursive;
  display: inline-block;
  font-size: 2.75em;
  margin: 0 2%;
  transition: all 0.2s;
}

.main-nav-item:hover {
  color: #eeeeef;
  cursor: pointer;
  text-shadow: 0 1rem 2rem rgba(#000, 0.4);
  transform: rotate(8deg) scale(1.5);
}
